body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(240, 207, 207);
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 550px;
    font-size: 50px;
}
form{
    align-items: center;
    justify-content: center;
    margin-left: 510px;

}
label{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input{
    background-color: rgb(231, 241, 250);
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 20px;
    transition: opacity 0.15s;
}
#btn{
    margin-top: 15px;
    border: none;
    background-color: rgb(243, 27, 27) ;
    color: white;
    cursor: pointer;
    transition:  0.2s;
}
#btn:hover{
    color: rgb(245, 96, 96);
    background-color: white;
}
#btn:active{
    opacity: 0.6;
}
p{
    margin-left: 510px;  
}